.b-body{
	width: 100%;
	height: 100%;
	background: url('../img/bg.png') no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     max-width: 900px;
	min-width: 900px;
	margin: auto;
}
.b-header-container{
	width: 100%;
	display: flex;
	justify-content:space-around;
	margin: 23px auto;
	align-items:center;
}
}

.b-header__menu {
	list-style: none;
}

.b-header__menu-item {
	float: left;
	display: flex;
	justify-content:flex-end;
	padding-left: 40px;
	text-transform: uppercase;
}

.b-header__menu-item a {
	color: white;
	text-decoration: none;
}

.b-menu__button a{
	color: white;
}

.b-product-container {
	width: 85%;
	height: 430px;
	background: #f4f4f4;
	position: absolute;
	margin: 60px auto;
	z-index: 999;
	top: 60px;
	right: 0;
	left: 0;
	bottom: 0;
}

.b-product__slider{
	height: 430px;
	padding: 90px 5%;
	width: 57.5%;
	float: left;
}

.b-product__btm-add1 input{
	background: none;
	border: none;
	color: #000000;
	font-weight: 300;
	font-size: 30px;
	float: right;
	outline: none;
}

.b-product__btm-add1 input:hover {
	color: #C7CBD1;
}

.b-product-thumbs {
	text-align: center;
	margin-top: 40px;
}
.b-product-thumbs__thumb {
	display: inline-block;
	margin-left: 2.1%;
}

.b-product-info {
	background: #FFFFFF;
	width: 42.5%;
	height: 430px;
	float: left;
	padding-left: 33px;
	padding-right: 33px;
}

.b-product__close{
	float: right;
	color: #C7CBD1;
	padding-top: 10px;
}

.b-product-info__sticker {
	background: #ffa60d;
	width: 42px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 43px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.b-product-info__title h1{
	font-size: 24px;
	font-weight: 400;
	margin: 7px auto;
}

.b-product-info__title span{
	color: #5e4fff;
}

.b-product-rating {
	display: flex;
	align-items: center;
}

.b-product-rating__product-name h2{
	font-size: 12px;
	float: left;
	margin: 5px auto;
}

.b-product-rating__stars  {
	  overflow: hidden;
	  *zoom: 1;
	  position: relative;
	  display: inline-block;
	  color: #7f7f7f;
	  margin-left: 15px;
}

.b-product-rating__stars  input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  
  width: 15px;
  height: 18px;
  
  position: absolute;
  top: 0;
  z-index: 0;
}

.b-product-rating__stars  input:checked ~ label {
  background-position: 0 -18px;
  height: 18px;
  width: 15px;
  color: black;
}

.b-product-rating__stars  label {
  height: 18px;
  width: 15px;
  float: right;
  cursor: pointer;
  margin-right: 5px;
  
  position: relative;
  z-index: 1;
}

.b-product-rating__stars  label:hover, .b-product-rating__stars label:hover ~ label {
  background-position: 0 -18px;
  height: 18px;
  width: 15px;
}

.b-product-rating__stars  #star-0 {
  left: 0px;
}
.b-product-rating__stars  #star-1 {
  left: 20px;
}
.b-product-rating__stars  #star-2 {
  left: 40px;
}
.b-product-rating__stars  #star-3 {
  left: 60px;
}
.b-product-rating__stars  #star-4 {
  left: 80px;
}
.b-product-rating__starsr  #star-5 {
  left: 100px;
}

.b-product__price {
	font-size: 22px;

}

.b-product__price p{
	margin: 13px auto;
}

.b-product-size__title p {
	font-size: 12px;
	margin: 7px auto;
}

.b-product-size__selector {
	padding: 0;
}

.b-product-size__selector li {
	padding-left: 4px;
	padding-right: 4px;
}

.b-product__item {
	display: inline-block;
	margin-right: 15px;
	border: 1px solid transparent;
}

.b-product__item:hover {
	border: 1px solid #000000;
}


.b-product__btm-add input{
	background: #a200b8;
	border: none;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 12px;
	width: 118px;
	height: 30px;
	margin-bottom: 4px;
	margin-top: 30px;
}

.b-product__btm-add input:hover {
	opacity: 0.7;
}

.b-product__btm-wish input:hover {
	border: 2px solid #a100b1;
}

.b-product__btm-wish input{
	background: none;
	border: 1px solid #000000;
	color: #000000;
	font-weight: 300;
	font-size: 12px;
	width: 118px;
	height: 30px;
}


.b-bg1{
	width: 92%;
	height: 390px;
	background: #FFFFFF;
	opacity: 0.5;
	position: absolute;
	margin: 60px auto;
	top: 80px;
	right: 0;
	left: 0;
	bottom: 0;
}

.b-bg2{
	width: 89%;
	height: 410px;
	background: #FFFFFF;
	opacity: 0.5;
	position: absolute;
	margin: 60px auto;
	top: 70px;
	right: 0;
	left: 0;
	bottom: 0;
}